- title 'Viewing album'
.album_box
  .head.left
    = h current_object.name
  %div[current_object]
    -if current_object.event_id
      %p.event_id
        %strong For the Event
        = h current_object.event.title
  - if current_user
    .edit
      = link_to 'Edit', edit_object_path
      |
      = link_to 'Destroy', object_path, :confirm => 'Really destroy album?', :method => :delete
      |
      = link_to 'Back', objects_path
