%h1 Viewing user_session

%div[current_object]
  %p.email
    %strong Email
    = h current_object.email
  %p.password
    %strong Password
    = h current_object.password

= link_to 'Edit', edit_object_path
|
= link_to 'Destroy', object_path, :confirm => 'Really destroy user_session?', :method => :delete
|
= link_to 'Back', objects_path
